page {
  width: 100%;
  height: 100%;
  padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
  background-color: #fff;
  box-sizing: border-box;
}

.truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.require {
  position: relative;
}

.require::before {
  position: absolute;
  top: 2rpx;
  left: -20rpx;
  color: #ff3d61;
  text-align: center;
  vertical-align: middle;
  content: '*';
}

.triangle-down {
  width: 0;
  height: 0;
  border: 8rpx solid transparent;
  border-top: 8rpx solid white;
}

.border-b-solid {
  border-bottom: 0.5px solid #c6c6c6;
}




.tosb-cell {
  padding: 10px 16px;
  /* border-bottom: 1px solid #ebedf0; */
  position: relative;
}
.tosb-cell::after {
  border-bottom: 1px solid #ebedf0;
  bottom: 0;
  box-sizing: border-box;
  content: " ";
  left: 16px;
  pointer-events: none;
  position: absolute;
  right: 16px;
  transform: scaleY(0.5);
  transform-origin: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(235, 237, 240);
}


.fab-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40rpx;
  right: 15px;
  position: fixed;
  bottom: 30px;
  padding: 0;
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #007AFF;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  color: white;
}
